<h1>Quizzes</h1>

<ul class="quizzes-index-list list-unstyled">
  <% @quizzes.each do |quiz| %>
    <li>
      <div class="quiz-name">
        <%= link_to raw("<h1><small>#{quiz.name}</small></h1>"), quiz_path(:id => quiz.id) %>
      </div>
      <div class="delete-button">
        <%= link_to raw("<span class='glyphicon glyphicon-remove-circle' aria-hidden='true'></span>"), quiz_path(quiz.id), method: :delete , data: {confirm: "Are you sure?"} %>
      </div>
      
      <ul class="quizzes-index-list-users list-unstyled">
        <% quiz.user_quizzes.each do |user_quiz| %>
          <li>
            <% if user_quiz.status == "not_started" %>
              <button class='btn btn-inverse btn-xs' disabled="disabled">Not Started</button>
            <% end %>
            <% if user_quiz.status == "started" %>
              <%= link_to raw("<button class='btn btn-primary btn-xs'>Started</button>"), review_quiz_path(:id => user_quiz.id) %>
            <% end %>
            <% if user_quiz.status == "completed" %>
              <%= link_to raw("<button class='btn btn-success btn-xs'>Completed</button>"), review_quiz_path(:id => user_quiz.id) %>
            <% end %>
            <%= user_quiz.user.full_name %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
