<div class="questions-template-wrapper">
  <div class="field">
    <input class="form-control" placeholder="Name" type="text" name="quiz[questions_attributes][<%= index %>][name]" id="quiz_questions_attributes_<%= index %>_name">
  </div>
  <div class="field">
    <input class="form-control" placeholder="Answer" type="text" name="quiz[questions_attributes][<%= index %>][expected_answer]" id="quiz_questions_attributes_<%= index %>_expected_answer">
  </div>
  <div class="field">
    <textarea class="form-control" placeholder="Instructions" name="quiz[questions_attributes][<%= index %>][instructions]" id="quiz_questions_attributes_<%= index %>_instructions"></textarea>
  </div>
</div>